body {
	background: linen;
	width: 500px;
	margin: 200px auto;
}
div {
	border: 5px solid maroon;
	text-align: center;
	padding: 5px;
}
p {
	border: 2px dashed blue;
}

a {
	color: cornflowerblue;
}
a:visited {
	color: tomato;
}

a:hover {
	font-weight: bold;
}

ol {
	border: 5px solid darksalmon;
	border-radius: 10px;
}

li {
	color: brown;
}

.content li {
	color: brown;
}

li:first-child {
	background: yellow;
}

li:nth-child(2) {
	background: orange;
}

li:nth-child(3) {
	background: lightblue;
}