body {
	background: lightcyan;
	width: 800px;
	margin: auto;
}
h1 {
	color: #3F3F3F;;
	text-align: center;
	text-decoration: underline;
}
p {
	color: gray;
	border: 5px dotted gray;
	padding: 20px
}