body {
	background: lightyellow;
	font-family: 'Oswald', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

.comments p:nth-child(even) {
	background: lavender;
}
.comments p:nth-child(odd) {
	background: gainsboro;
}

.container {
	max-width: 855px;
	margin: auto;
	overflow: auto;
}

header .container {
	border-bottom: 3px black solid;
}

.title, .comment-input{

	float: left;
	min-width: 285px;
}

.banner, .comments{
	float: right;
	min-width: 570px;
	
}

.container #header{
	text-decoration: underline;
	margin-bottom: 3px solid;
}

.comment-input p {
	padding: 10px 0;
	margin: 0;
}

.comment-input input {
	height: 20px;
}


.comment-input button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    cursor: pointer;

}

.comment-input button:hover {
    background-color: #3e8e41;
}

