body {
	background: #f9e933;
	font-family: 'Oswald', sans-serif;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
	overflow: hidden;
}

header, main {
	background: white;
}

header .container {
	border-bottom: 3px lightgrey solid;
}


.title {
	font-size: 64px;
	font-style: italic;
	color: brown;
	float: left;
	width: 570px;
	padding: 30px 0px;

}

.nav {
	font-size: 20px;
	float: right;
	text-align: center;
	width: 285px;
	padding-top: 30px;
}


main .container   {
	padding: 30px 0px;
}

.content{
	width: 520px;
	float: left;
	padding-right: 50px;
}


.menu li {
 	display: inline;
 	margin-right: 5px;
}

.menuTable a{
    background-color: lightgrey;
    color: darkred;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 10px 10px 0 0;
	font-size: 16px;
}


footer .container {
	padding: 20px 0px;
}

.contact{
	float: left;
	width: 570px;	
}

.sitemap {
	float: right;
	width: 285px;
}

#contactTitle {
	font-size: 20px;
	padding: 5px 0px;
}

h3 {
	font-size: 24px;
	padding: 10px 0px;
}

#left {
	float: left;  
	width: 142px;
}

#right {
	float: right;
	width: 143px; 

}

.sitemap li  {
	padding: 3px 0px;
}

a {
	text-decoration: none;
	color : darkred;
}

a:hover {
	text-decoration: underline;
}
